/* src/components/Fari9onaSection/Fari9onaSection.css */

.fari9ona-section {
  background-color: #000000; /* Black background to maintain consistency */
  color: #ffffff;
  padding: 100px 50px; /* Increased top padding to account for fixed header */
  text-align: start; /* Use logical property instead of 'right' */
  font-family: 'Alexandria', sans-serif; /* Apply Alexandria font */
}

.section-title3 {
  font-size: 32px;
  font-weight: 700; /* Bold for the section title */
  margin-bottom: 40px;
}

.team-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  gap: 20px;
  justify-items: center;
}


/* Responsive Design */

/* Tablets */
@media (max-width: 1024px) {

  .fari9ona-section {
      padding: 60px 30px; /* Adjust padding for tablets */
  }
  
  .section-title3 {
    font-size: 25px;
    margin-bottom: 30px;
  }
  
  .team-container {
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 0px;
    justify-items: center;
  }
}

/* Mobile Devices */
@media (max-width: 768px) {
  .fari9ona-section {
      background-color: #000000; /* Black background to maintain consistency */
      color: #ffffff;
      padding: 60px 20px; /* Adjust padding for mobile */
      text-align: start; /* Use logical property */
      font-family: 'Alexandria', sans-serif; /* Apply Alexandria font */
    }
    
    .section-title3 {
      font-size: 20px;
      font-weight: 700; /* Bold for the section title */
      margin-bottom: 25px;
    }
    
    .team-container {
      grid-template-columns: repeat(2, 1fr); /* 2 columns */
      justify-items: center;
    }
}
