/* src/components/Fari9onaSection/Fari9onaSection.css */

.fari9ona-section {
    background-color: #000000; /* Black background to maintain consistency */
    color: #ffffff;
    padding: 100px 50px; /* Increased top padding to account for fixed header */
    text-align: right; /* Align text to the right for Arabic */
    font-family: 'Alexandria', sans-serif; /* Apply Alexandria font */
  }
  
  .section-title3 {
    font-size: 32px;
    font-weight: 700; /* Bold for the section title */
  }
  
  .team-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
  }

  
  /* Responsive Design */
  
  /* Tablets */
  @media (max-width: 1024px) {
    .team-container {
      grid-template-columns: repeat(2, 1fr); /* 2 columns */
      justify-items: center;
    }
  }
  
  /* Mobile Devices */
  @media (max-width: 768px) {
    .team-container {
        grid-template-columns: repeat(2, 1fr); /* 2 columns */
        justify-items: center;
      }
      .fari9ona-section {
        background-color: #000000; /* Black background to maintain consistency */
        color: #ffffff;
        padding: 100px 20px; /* Increased top padding to account for fixed header */
        text-align: right; /* Align text to the right for Arabic */
        font-family: 'Alexandria', sans-serif; /* Apply Alexandria font */
      }
      
      .section-title3 {
        font-size: 25px;
        font-weight: 700; /* Bold for the section title */
      }
      
   
    
  }
  