/* src/components/TeamCard/TeamCard.css */

.team-card {
  border-radius: 15px; /* Rounded corners */
  padding: 20px;
  text-align: start; /* Align text based on direction */
  transition: transform 0.3s, box-shadow 0.3s;
  font-family: 'Alexandria', sans-serif; /* Apply Alexandria font */
  width: 100%;
  box-sizing: border-box;
}

.team-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.team-photo {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.team-name {
  font-size: 14px;
  font-weight: 700; /* Bold for the name */
  margin: 10px 0 5px 0;
  color: #ffffff;
  text-align: start; /* Align text based on direction */
}

.team-position {
  font-size: 13px;
  font-weight: 400; /* Normal weight for the position */
  color: #cccccc;
  text-align: start; /* Align text based on direction */
}

  
@media (max-width: 768px) {
  .team-card {
      border-radius: 10px; /* Slightly rounded corners for mobile */
      padding: 15px;
      text-align: start; /* Align text based on direction */
  }
  

  
  .team-name {
      font-size: 12px;
      margin: 8px 0 4px 0;
  }
  
  .team-position {
      font-size: 11px;
  }
}
