/* src/components/KhidmatonaSection/KhidmatonaSection.css */

.khidmatona-section {
  background-color: #000000; /* Black background */
  color: #ffffff;
  padding: 50px;
  text-align: start; /* Use logical property instead of 'right' */
  font-family: 'Alexandria', sans-serif; /* Apply Alexandria font */
}

.section-title2 {
  font-size: 32px;
  margin-bottom: 40px;
}

.services-container {
  display: flex;
  justify-content: space-between;
  gap: 22px;
  flex-wrap: wrap;
}

/* Responsive Design */
@media (max-width: 1024px) {

.khidmatona-section {
    background-color: #000000; /* Black background */
    color: #ffffff;
    padding: 20px;
    text-align: start; /* Use logical property */
    font-family: 'Alexandria', sans-serif; /* Apply Alexandria font */

  }
  
  .section-title2 {
    font-size: 25px;
    margin-bottom: 40px;
  }
  
  .services-container {
    
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
  }
}
